<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Profile</h4>
                <h6 class="card-subtitle"> Info </h6>

                <form ngNativeValidate #f="ngForm" (ngSubmit)="save(f.value)" class="form p-t-20">

                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="user.name" name="name" type="text" class="form-control" id="exampleInputuname" placeholder="Username" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="user.email" [disabled]="user.google" name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Role</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-info-alt"></i></div>
                            <input [ngModel]="user.role" name="role" type="text" class="form-control" id="exampleInputuname" placeholder="Role" readonly>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Save
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Photo</h4>
                <h6 class="card-subtitle"> Preview Selected Photo </h6>

                <img *ngIf="!imageTemp" [src]="user.img | image" class="w150">
                <img *ngIf="imageTemp" [src]="imageTemp" class="w150">

                <br><br>

                <input (change)="selectImage( $event.target.files[0] )" type="file">

                <br><br>

                <button (click)="changeImage()" [disabled]="!uploadFile" type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Update Photo
                  </button>
            </div>
        </div>
    </div>

</div>