<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title" style="text-align: center;">{{ graficos.grafico1.leyenda }}</h3>
                <app-graphic-dona [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartData]="graficos.grafico1.data" [doughnutChartType]="graficos.grafico1.type"></app-graphic-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title" style="text-align: center;">{{ graficos.grafico2.leyenda }}</h3>
                <app-graphic-dona [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartData]="graficos.grafico2.data" [doughnutChartType]="graficos.grafico2.type"></app-graphic-dona>

            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title" style="text-align: center;">{{ graficos.grafico3.leyenda }}</h3>
                <app-graphic-dona [doughnutChartLabels]="graficos.grafico3.labels" [doughnutChartData]="graficos.grafico3.data" [doughnutChartType]="graficos.grafico3.type"></app-graphic-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title" style="text-align: center;">{{ graficos.grafico4.leyenda }}</h3>
                <app-graphic-dona [doughnutChartLabels]="graficos.grafico4.labels" [doughnutChartData]="graficos.grafico4.data" [doughnutChartType]="graficos.grafico4.type"></app-graphic-dona>

            </div>
        </div>
    </div>

</div>