<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="card-title">
                    <h3>Wellcome to AdminPro version 1.0.0</h3>
                    <hr>

                    <p>This project is for users that want to learn to create a interesting project using:</p>
                    <ul>
                        <li>
                            <p>Angular</p>
                        </li>
                        <li>
                            <p>Typescipt</p>
                        </li>
                        <li>
                            <p>Express</p>
                        </li>
                        <li>
                            <p>MongoDB</p>
                        </li>
                    </ul>
                    <br>
                    <p>You learn to organize your pages in modules, use graphics, promises, observables, upload images, create guards to prevent access to some users and dont have access to hackers.</p>
                    <p>You work with a server to load menu website, manage a hospital with their users, doctors and hospitals.</p>
                    <p><span> I hope you like it </span></p>
                </div>

            </div>
        </div>
    </div>
</div>